@font-face {
    font-family: neue-montreal-thin;
    src: url(../../asset/fonts/pp-neue-montreal/PPNeueMontreal-Thin.otf) format("opentype");
}

@font-face {
    font-family: mori;
    src: url(../../asset/fonts/pp-mori/PPMori-Regular.otf) format("opentype");
}

@font-face {
    font-family: neue-montreal;
    src: url(../../asset/fonts/pp-neue-montreal/PPNeueMontreal-Book.otf) format("opentype");
}

h2, p, a, span, li {
    font-family: neue-montreal-thin, sans-serif;
}

h1 {
    font-family: mori, sans-serif;
    font-size: 5rem;
}

a {
    text-decoration: none;
    transition: .18s ease-in;
    cursor: pointer;
}

a:hover, a:visited:hover {
    color: #413939 !important;
}

a:visited {
    color: #000000 !important;
}

p {
    font-size: 1rem;
}
