main {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

img {
    transform: translateY(-20px);
}

main > section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 96px 128px 80px;
}

main > section > p, main > section > div > span:nth-of-type(2) {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 220%;
    letter-spacing: 2px;
}

main > section > div {
    font-size: 1.5rem;
    font-family: neue-montreal, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

main > section > div > span:first-of-type {
    width: 55px;
    font-size: 1.125rem;
}

/* designed by */

main > section > div > span > a {
    text-decoration: underline;
}

/* designed by end */

@media only screen and (min-width: 1920px) {
    img {
        height: 930px;
    }

    main > section {
        padding: 127px 180px 120px;
    }
}
